Incoice agent/Invoice agent.json
{
  "name": "Invoice agent",
  "nodes": [
    {
      "parameters": {},
      "id": "0b5ac42c-5863-4fa0-b411-ad8c1da4c990",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1856,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324",
        "options": {}
      },
      "id": "5124b159-2034-40f7-894a-2f85b7a35769",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        -1264,
        432
      ],
      "typeVersion": 1,
      "credentials": {
        "openRouterApi": {
          "id": "iz0gDxTAfxD85Tcx",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "line_items",
        "options": {}
      },
      "id": "c0ac5d23-f433-4e21-b574-98a50a1ca97d",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -384,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\nlet raw = output.result || output.completion || output.text || JSON.stringify(output);\n\n// Step 1: Remove backticks if present\nraw = raw.trim();\nif (raw.startsWith(\"```json\")) {\n  raw = raw.replace(/^```json\\s*/, '').replace(/```$/, '').trim();\n} else if (raw.startsWith(\"```\")) {\n  raw = raw.replace(/^```\\s*/, '').replace(/```$/, '').trim();\n}\n\n// Step 2: Find full JSON block from first { to last }\nconst start = raw.indexOf('{');\nconst end = raw.lastIndexOf('}');\nif (start === -1 || end === -1 || end <= start) {\n  return [{\n    json: {\n      error: \"No valid JSON block found\",\n      raw_output: raw\n    }\n  }];\n}\n\nlet jsonCandidate = raw.substring(start, end + 1).trim();\n\n// Step 3: Unescape characters\njsonCandidate = jsonCandidate\n  .replace(/\\\\n/g, '')\n  .replace(/\\\\t/g, '')\n  .replace(/\\\\\"/g, '\"')\n  .replace(/\\\\'/g, \"'\")\n  .replace(/\\\\\\\\/g, '\\\\');\n\n// Step 4: Parse JSON safely\ntry {\n  let parsed = JSON.parse(jsonCandidate);\n\n  // Only double-parse if it looks like stringified JSON\n  if (typeof parsed === \"string\" && parsed.trim().startsWith('{') && parsed.trim().endsWith('}')) {\n    parsed = JSON.parse(parsed);\n  }\n\n  return [{ json: parsed }];\n} catch (e) {\n  return [{\n    json: {\n      error: \"JSON parsing failed\",\n      raw_output: raw,\n      attempted_extraction: jsonCandidate,\n      message: e.message\n    }\n  }];\n}\n"
      },
      "id": "fd0f4d66-4dc1-4be6-b582-2912cb241696",
      "name": "Post-Processing",
      "type": "n8n-nodes-base.code",
      "position": [
        -784,
        192
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=- You must respond ONLY with valid raw rendered JSON.\n- Do NOT include the word \"json\".\n- Do NOT include the word \"```json\".\n- Do NOT use triple backticks or markdown formatting.\n- Do NOT wrap the response in any key like \"output\".\n- Do NOT write anything starting at output directly start with valid root-level JSON.\n- Only respond with a valid, root-level JSON object.\n- Do NOT skip any line item. Continue extracting all line items until the sum of all line_total values exactly equals the total sale amount extracted from the invoice. This verification ensures that all items are fully extracted and no entries are missed. If the totals do not match, keep parsing and extracting additional line items until they do. Only then stop.\n\nText to convert: {{ $json.text }}",
        "options": {
          "systemMessage": "=You are a document parsing assistant designed to extract structured data from invoice PDFs for automated uploading and validation in a financial system.\n\nExtract the following fields from the invoice text:\n\ninvoice_number: Extract from the 'Invoice No' field.\n\nvendor_name: Company name issuing the invoice.\n\ninvoice_date: Format as DD/MM/YYYY.\n\npo_number: Extract the PO number or return null if not found.\n\npo_date: Extract the PO date in DD/MM/YYYY format or return null if not found.\n\ntotal_amount: Extract the invoice total as a float.\n\ntax_details: Include total CGST, total SGST.\n\nline_items: List of all items in the invoice. For each item, extract:\n\n  Serial No.: Item Serial No. In invoice.\n\n  code: The TWW word and its postfix only (e.g., TWW, TWW-Cover, TWW-HPCN). Do not include HSN code or numbers. This field must always be present.\n\n  description: Item description, never include HSN code of product in product description.\n\n  last character: This is a single word/character string found just after or around the line item, typically at the end of the price line or just on the next line. It will never be a number, HSN code, GST %, or unit (like PCS). Examples: G, C, S, 5C, .C If nothing is present (only digits or blank), return \"\". Check the next 1–2 lines after each item if it's not found on the same line.\n\n  quantity: Quantity value.\n\n  unit_price: Price per unit.\n\n  line_total: Total price for the line.\n\n  hsn_code: HSN code of the item.\n\n  cgst: Only extract the CGST percentage (e.g., 9%, 6%) as written in the invoice. Do not calculate based on line total.\n\n  sgst: Only extract the SGST percentage (e.g., 9%, 6%) as written in the invoice. Do not calculate based on line total.\n\nImportant: Double-check that all line items are extracted without omission.\n\nDo NOT skip any line item. Continue extracting all line items until the sum of all line_total values exactly equals the total_amount extracted from the invoice. This verification ensures that all items are fully extracted and no entries are missed. If the totals do not match, keep parsing and extracting additional line items until they do. Only then stop."
        }
      },
      "id": "b23e634e-938b-4284-a994-d5eb0e956ea0",
      "name": "Text Extractor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1200,
        224
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "fileSelector": "=E:/SentIImenta AI/SentIImenta AI Website/White Willow/Invoice Validator/May Invoices/Jumax TWW Daily PO Invoices 05_05_2025/661.pdf",
        "options": {}
      },
      "id": "7a7ec1cc-5464-4ef7-b072-b115eee33d12",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        -1648,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "fd08b6ce-5073-4b5c-bfea-22ab8191c085",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -1424,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e73c23b4-39e9-4719-8a72-53808eefe607",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": "JSON parsing failed"
            },
            {
              "id": "b3b7d3d4-c709-40fe-8782-ffd34180ba8b",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": "No valid JSON block found"
            }
          ]
        },
        "options": {}
      },
      "id": "b8286d7a-81b9-4e02-927d-fcc62ff7cbe9",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -560,
        144
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18f61f00-03e8-4fd4-b305-f3742bb32d17",
              "name": "text",
              "type": "string",
              "value": "={{ $('Extract from File').item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3f32ff47-af77-4963-8a29-1e97ad299633",
      "name": "Send Raw Text Again",
      "type": "n8n-nodes-base.set",
      "position": [
        -320,
        320
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "// --- Helper: Levenshtein Distance ---\nfunction levenshtein(a, b) {\n  const matrix = Array.from({ length: b.length + 1 }, (_, i) => [i]);\n  for (let j = 0; j <= a.length; j++) matrix[0][j] = j;\n\n  for (let i = 1; i <= b.length; i++) {\n    for (let j = 1; j <= a.length; j++) {\n      const cost = a[j - 1] === b[i - 1] ? 0 : 1;\n      matrix[i][j] = Math.min(\n        matrix[i - 1][j] + 1,\n        matrix[i][j - 1] + 1,\n        matrix[i - 1][j - 1] + cost\n      );\n    }\n  }\n  return matrix[b.length][a.length];\n}\n\n// --- Helper: Clean String ---\nfunction cleanString(str) {\n  if (str && typeof str === 'string') {\n    return str\n      .replace(/(^\"|\"$|\\[|\\])/g, '') // remove unwanted chars\n      .replace(/\\s{2,}/g, ' ')       // replace multiple spaces with one\n      .toLowerCase()\n      .trim();\n  }\n  return '';\n}\n\n// --- 1. Get all SKUs from \"Split Out\" and corresponding Unique Keys ---\nconst splitOutItems = $items('Split Out');\nconst uniqueKeyItems = $items('Generate Unique Key');\n\nconst inputSKUs = splitOutItems.map((item, index) => {\n  const uniqueKeyItem = uniqueKeyItems[index];\n\n  const code = cleanString(item.json.code);\n  const description = cleanString(item.json.description);\n  // handle both possible keys for last character\n  const lastCharacter = cleanString(item.json['last_character'] ?? item.json['last character'] ?? '');\n\n  let sku = `${code} ${description}`;\n\n  if (lastCharacter) {\n    if (/^[a-z0-9]+$/i.test(lastCharacter)) {\n      // Append directly without space if alphanumeric postfix\n      sku += lastCharacter;\n    } else {\n      // Otherwise, add a space\n      sku += ` ${lastCharacter}`;\n    }\n  }\n  \n  sku = sku.trim().replace(/\\s{2,}/g, ' ');\n\n  return {\n    Unique_Key: uniqueKeyItem ? uniqueKeyItem.json['Unique Key'] || uniqueKeyItem.json.Unique_Key || '' : '',\n    serial_no: item.json['Serial No.'] ?? item.json['Serial_No.'] ?? '',\n    sku,\n    quantity: item.json.quantity,\n    unit_price: item.json.unit_price,\n    line_total: item.json.line_total,\n    hsn_code: item.json.hsn_code,\n    cgst: item.json.cgst,\n    sgst: item.json.sgst\n  };\n});\n\n// --- 2. Get all rows from \"Google Sheets\" ---\nconst sheetRows = $items('Fetch Master Data').map(i => i.json);\n\n// --- 3. Set Levenshtein match threshold ---\nconst threshold = 5;\nconst results = [];\n\nfor (const inputSKU of inputSKUs) {\n  let bestMatch = null;\n  let lowestDistance = Infinity;\n\n  for (const row of sheetRows) {\n    const descriptionRaw = row['Jumax PDF Description'] || '';\n    const description = cleanString(descriptionRaw);\n    if (!description) continue;\n\n    const distance = levenshtein(inputSKU.sku, description);\n\n    if (distance < lowestDistance) {\n      lowestDistance = distance;\n      bestMatch = row;\n    }\n  }\n\n  if (bestMatch && lowestDistance <= threshold) {\n    const jumaxASIN = cleanString(bestMatch['ASIN']);\n    const tASIN = cleanString(bestMatch['TWW ASIN']);\n    const cost = Number(bestMatch['Cost '] || bestMatch['Cost'] || bestMatch['Rate']);\n    const unitPrice = Number(inputSKU.unit_price);\n\n    const asinMatch = jumaxASIN === tASIN;\n    const costMatch = cost === unitPrice;\n    const allConditionsMet = asinMatch && costMatch;\n\n    results.push({\n      json: {\n        Unique_Key: inputSKU.Unique_Key,\n        serial_no: inputSKU.serial_no,\n        matchedSKU: inputSKU.sku,\n        matchedRow: bestMatch,\n        distance: lowestDistance,\n        Jumax_ASIN: jumaxASIN,\n        T_ASIN: tASIN,\n        asinMatch,\n        costMatch,\n        quantity: inputSKU.quantity,\n        unit_price: inputSKU.unit_price,\n        costFromSheet: cost,\n        line_total: inputSKU.line_total,\n        hsn_code: inputSKU.hsn_code,\n        cgst: inputSKU.cgst,\n        sgst: inputSKU.sgst,\n        message: allConditionsMet\n          ? '✅ Match found, ASINs match, and Cost matches Unit Price'\n          : asinMatch\n            ? '⚠️ ASINs match but Cost does not match Unit Price'\n            : '❌ Match found but ASINs do not match',\n        All_Conditions_Met: allConditionsMet\n      }\n    });\n  } else {\n    results.push({\n      json: {\n        Unique_Key: inputSKU.Unique_Key,\n        serial_no: inputSKU.serial_no,\n        matchedSKU: inputSKU.sku,\n        matchedRow: null,\n        message: `❌ No match found for SKU: ${inputSKU.sku}`,\n        closestDistance: lowestDistance,\n        quantity: inputSKU.quantity,\n        unit_price: inputSKU.unit_price,\n        line_total: inputSKU.line_total,\n        hsn_code: inputSKU.hsn_code,\n        cgst: inputSKU.cgst,\n        sgst: inputSKU.sgst,\n        All_Conditions_Met: false\n      }\n    });\n  }\n}\n\n// --- 4. Return final results ---\nreturn results;\n"
      },
      "id": "c1638c7d-9370-4f90-9e32-664e30045556",
      "name": "Validation",
      "type": "n8n-nodes-base.code",
      "position": [
        496,
        80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1L2DN1aGp1uhLhNm7TrI54tC0Yuk4ER9y2DU-jbHrSrk",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L2DN1aGp1uhLhNm7TrI54tC0Yuk4ER9y2DU-jbHrSrk/edit?usp=drivesdk",
          "cachedResultName": "Invoice Validation"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L2DN1aGp1uhLhNm7TrI54tC0Yuk4ER9y2DU-jbHrSrk/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "HSN": "={{ $('Split Out').item.json.hsn_code }}",
            "Qty": "={{ $('Split Out').item.json.quantity }}",
            "CGST%": "={{ $('Split Out').item.json.cgst }}",
            "SGST%": "={{ $('Split Out').item.json.sgst }}",
            "SR No.": "={{ $('Split Out').item.json['serial_no'] }}",
            "PO Date": "={{ $('Post-Processing').item.json.po_date }}",
            "PO Number": "={{ $('Post-Processing').item.json.po_number }}",
            "Unique Key": "={{ $json['Unique Key'] }}",
            "Invoice No.": "={{ $('Post-Processing').item.json.invoice_number }}",
            "Sale Amount": "={{ $('Split Out').item.json.line_total }}",
            "Invoice Date": "={{ $('Post-Processing').item.json.invoice_date }}",
            "Rate (Vendor)": "={{ $('Split Out').item.json.unit_price }}",
            "TWW Description": "={{ \n  $node[\"Split Out\"].json[\"code\"] + \" \" + \n  $node[\"Split Out\"].json[\"description\"] + \" \" + \n  ($node[\"Split Out\"].json[\"last character\"] ?? $node[\"Split Out\"].json[\"last_character\"] ?? \"\") \n}}"
          },
          "schema": [
            {
              "id": "SR No.",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "SR No.",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice No.",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Invoice No.",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Unique Key",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Unique Key",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Invoice Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "PO Number",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "PO Number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "PO Date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "PO Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "TWW Description",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "TWW Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "HSN",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "HSN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Qty",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Qty",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Rate (Vendor)",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Rate (Vendor)",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Sale Amount",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Sale Amount",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "CGST%",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "CGST%",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "SGST%",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "SGST%",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Matched Cost (Actual Price)",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Matched Cost (Actual Price)",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Matched Unit Price (Vendor Price)",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Matched Unit Price (Vendor Price)",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Price Difference (₹)",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Price Difference (₹)",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Loss/Gain (₹)",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Total Loss/Gain (₹)",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Mismatch Note",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Mismatch Note",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "SKU Matched",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "SKU Matched",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "ASIN",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "ASIN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Taxable Amount",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Taxable Amount",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Amount",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Invoice Amount",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Quantity",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Total Quantity",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4e0fd05f-3dda-49f5-86d6-045297d6378e",
      "name": "Send Invoice Data",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        64,
        80
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9QLWtnX2ylteMsFf",
          "name": "Razyerg"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1ZBODB_mwa17Amtxnme5l8MxyEcWHYy9SSjQ6atPJXhc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZBODB_mwa17Amtxnme5l8MxyEcWHYy9SSjQ6atPJXhc/edit?usp=drivesdk",
          "cachedResultName": "Mapping Sheet Final"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 305288444,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZBODB_mwa17Amtxnme5l8MxyEcWHYy9SSjQ6atPJXhc/edit#gid=305288444",
          "cachedResultName": "Cost-Priority sheet-GPT"
        },
        "options": {}
      },
      "id": "29058274-f24d-4352-977f-6672183b0987",
      "name": "Fetch Master Data",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        320,
        80
      ],
      "executeOnce": true,
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9QLWtnX2ylteMsFf",
          "name": "Razyerg"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1L2DN1aGp1uhLhNm7TrI54tC0Yuk4ER9y2DU-jbHrSrk",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L2DN1aGp1uhLhNm7TrI54tC0Yuk4ER9y2DU-jbHrSrk/edit?usp=drivesdk",
          "cachedResultName": "Invoice Validation"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L2DN1aGp1uhLhNm7TrI54tC0Yuk4ER9y2DU-jbHrSrk/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "Unique Key": "={{ $json.Unique_Key }}",
            "Mismatch Note": "={{ $('Validation').item.json.message }}",
            "Total Loss/Gain (₹)": "={{ ($json.unit_price - $json.costFromSheet) * $json.quantity}}",
            "Price Difference (₹)": "={{ $json.unit_price - $json.costFromSheet }}",
            "Matched Cost (Actual Price)": "={{ $json.costFromSheet }}",
            "Matched Unit Price (Vendor Price)": "={{ $('Validation').item.json.unit_price }}"
          },
          "schema": [
            {
              "id": "SR No.",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "SR No.",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice No.",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Invoice No.",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Unique Key",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Unique Key",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Invoice Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "PO Number",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "PO Number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "PO Date",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "PO Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "TWW Description",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "TWW Description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "HSN",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "HSN",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Qty",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Qty",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Rate (Vendor)",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Rate (Vendor)",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Sale Amount",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Sale Amount",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "CGST%",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "CGST%",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "SGST%",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "SGST%",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Matched Cost (Actual Price)",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Matched Cost (Actual Price)",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Matched Unit Price (Vendor Price)",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Matched Unit Price (Vendor Price)",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Price Difference (₹)",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Price Difference (₹)",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Loss/Gain (₹)",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Total Loss/Gain (₹)",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Mismatch Note",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Mismatch Note",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Unique Key"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "343bd3b2-da1a-4d35-bd46-db8525e1e255",
      "name": "Update Results",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        800,
        80
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1907451f-cc09-45d7-a04f-113f8f94d918",
              "name": "Unique Key",
              "type": "string",
              "value": "={{ $('If').item.json.invoice_number + \"-\" + $itemIndex }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b47721db-18c7-4a24-8736-e5edfce493a8",
      "name": "Generate Unique Key",
      "type": "n8n-nodes-base.set",
      "position": [
        -160,
        80
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Reading Invoice's PDF File Locally",
        "height": 280,
        "width": 620,
        "color": 7
      },
      "id": "3c9cc3be-1bde-475a-9c18-71036ae80f59",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1904,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Extracting Details From Invoice PDF",
        "height": 280,
        "width": 380,
        "color": 7
      },
      "id": "df01ddca-dab7-47ec-94a8-d119d9ebf1dd",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1264,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Processing Output",
        "height": 220,
        "color": 7
      },
      "id": "6711011c-0499-4c61-a414-dd7fe224b376",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Fallback On Error",
        "height": 220,
        "width": 220,
        "color": 7
      },
      "id": "f27d9fae-08a6-447d-ba3e-056a1e659ddc",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Extracting Line Items",
        "height": 220,
        "width": 400,
        "color": 7
      },
      "id": "612eafab-a288-4716-939e-f24653bdbd06",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Sending Data To G-Sheet",
        "height": 240,
        "width": 220,
        "color": 7
      },
      "id": "5db86887-7a86-4969-babd-54491bcb286f",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Fetch Master Data & Validating Invoice Extracted Data",
        "height": 240,
        "width": 440,
        "color": 7
      },
      "id": "9ccb789d-251e-4a9a-bd76-0c1f503a652c",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Update Validation Result",
        "height": 240,
        "width": 300,
        "color": 7
      },
      "id": "39cf8082-7580-4507-bb37-62d45097c912",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        0
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Send Raw Text Again",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Generate Unique Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation": {
      "main": [
        [
          {
            "node": "Update Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Extractor": {
      "main": [
        [
          {
            "node": "Post-Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post-Processing": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Text Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Master Data": {
      "main": [
        [
          {
            "node": "Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Invoice Data": {
      "main": [
        [
          {
            "node": "Fetch Master Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Unique Key": {
      "main": [
        [
          {
            "node": "Send Invoice Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Raw Text Again": {
      "main": [
        [
          {
            "node": "Text Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72f83341-a733-435f-b904-54aff7ab265f",
  "meta": {
    "instanceId": "ea1fe655b307855c28b6328df20e1d82406ba38285e4e604b833c57ef1e59a7b"
  },
  "id": "KCuvTyssbyeKiD2J",
  "tags": []
}