Personal army/Image to Video Tool.json
{
  "name": "Image to Video Tool",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "fileID"
            },
            {
              "name": "videoPrompt"
            },
            {
              "name": "chatID"
            },
            {
              "name": "image"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -656,
        -64
      ],
      "id": "b878d563-3457-4985-8858-7f16e06ffc92",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/veo3/fast/image-to-video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $('When Executed by Another Workflow').item.json.videoPrompt }}"
            },
            {
              "name": "generate_audio",
              "value": "true"
            },
            {
              "name": "image_url",
              "value": "={{ $json.data.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        -64
      ],
      "id": "a82167da-5f25-48db-bdd4-48c3ef3a6611",
      "name": "Generate Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "LluWAMqyyzTKs2nn",
          "name": "Fal"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        -64
      ],
      "id": "e97f6b2c-e57b-470b-8e73-193a4969a9de",
      "name": "Get Result",
      "credentials": {
        "httpHeaderAuth": {
          "id": "LluWAMqyyzTKs2nn",
          "name": "Fal"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        -64
      ],
      "id": "2395e2bf-4307-44c8-a1cb-8570a4a55314",
      "name": "30 Seconds",
      "webhookId": "5f6bbd1e-a155-48de-b737-a225c6fd7a84"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.fileID }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -432,
        -64
      ],
      "id": "035c5065-014b-4a78-bcdb-3826f09f14eb",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V2ewjiHO0o6xhQ2R",
          "name": "nateherk88@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.fileID }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -288,
        -64
      ],
      "id": "38928b38-dce8-40f6-aabb-c6094b1e640f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V2ewjiHO0o6xhQ2R",
          "name": "nateherk88@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        -64
      ],
      "id": "b7cb8aa8-4d5d-4733-9232-c992a4e57709",
      "name": "Get URL",
      "credentials": {
        "httpQueryAuth": {
          "id": "udoGuRoFJyjgwOhO",
          "name": "IMGBB"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('When Executed by Another Workflow').item.json.image }} (VFX).mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Fm7PN1nMICKnAZpf6-3YYrSJlBEQ7Xbe",
          "mode": "list",
          "cachedResultName": "Media",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Fm7PN1nMICKnAZpf6-3YYrSJlBEQ7Xbe"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        896,
        64
      ],
      "id": "0e4c98a2-d1b9-46c0-98ca-fead1105ba5d",
      "name": "Upload Video",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "V2ewjiHO0o6xhQ2R",
          "name": "nateherk88@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.video.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        -64
      ],
      "id": "09d5f5cf-e932-41ca-bd84-f68925909dbe",
      "name": "Download File"
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatID }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        -192
      ],
      "id": "fe62ebe1-6474-42c4-b86a-f328417ba22f",
      "name": "Send Video",
      "webhookId": "8fcbda9c-8396-41f7-8f2d-39e4ae4337c7",
      "credentials": {
        "telegramApi": {
          "id": "9jQWan3cOz3tE62s",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        208,
        -64
      ],
      "id": "c86c7742-e74a-434d-a52c-ce4df706574b",
      "name": "1 Minute",
      "webhookId": "caad73e3-58d8-4fbd-a3e9-c42424f2d1ee"
    },
    {
      "parameters": {
        "content": "# Trigger\n",
        "height": 260,
        "width": 212,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -704,
        -160
      ],
      "id": "c27430a3-7bdf-45c0-9891-8107fa68912e",
      "name": "Sticky Note5",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Download\n",
        "height": 260,
        "width": 476,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        -160
      ],
      "id": "3472d818-161e-48ec-bf6c-73c050386fc6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Generate Video\n\n",
        "height": 260,
        "width": 764,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        -160
      ],
      "id": "2e2142f2-cad7-4b37-82c9-ff3ab46530c8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Send Content",
        "height": 240,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        -288
      ],
      "id": "917d0164-d75e-4360-b5b0-49aab376ab46",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Write to Drive",
        "height": 240,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        -32
      ],
      "id": "a8b76aa8-ecdf-44f0-8f54-60bd42e8175d",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Generate Video": {
      "main": [
        [
          {
            "node": "1 Minute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Result": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "30 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "30 Seconds": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Share file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Get URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URL": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Send Video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 Minute": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d7ca3f88-89da-476c-8f0c-181c35b23649",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95e5a8c2e51c83e33b232ea792bbe3f063c094c33d9806a5565cb31759e1ad39"
  },
  "id": "5821tlVzSOLDaDTb",
  "tags": []
}